<form  (ngSubmit)="EditService(f.value, f)" #f="ngForm">
    <div class="form-group">
      <label for="editServiceNameInput">name</label>
      <input type="text" class="form-control" id="editServiceNameInput" placeholder="name" name="Name" ngModel>
    </div>
    <div class="form-group">
      <label for="editServiceLogourlInput">logoUrl</label>
      <input type="text" class="form-control" id="editServiceLogourlInput" placeholder="" name="LogoUrl" ngModel>
    </div>
    <div class="form-group">
      <label for="editServiceDescriptionInput">description</label>
      <input type="email" class="form-control" id="editServiceDescriptionInput" placeholder="Description" name="Description" ngModel>
    </div>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
  </form>