<form  (ngSubmit)="addService(f.value, f)" #f="ngForm">
  <div class="form-group">
    <label for="addServiceNameInput">name</label>
    <input type="text" class="form-control" id="addServiceNameInput" placeholder="Name" name="Name" ngModel>
  </div>
  <div class="form-group">
    <label for="addServiceLogourlInput">logoUrl</label>
    <input type="text" class="form-control" id="addServiceLogourlInput" placeholder="" name="LogoUrl" ngModel>
  </div>
  <div class="form-group">
    <label for="addServiceDescriptionInput">description</label>
    <input type="email" class="form-control" id="addServiceDescriptionInput" placeholder="Description" name="Description" ngModel>
  </div>
  <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>