<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <header>
            <nav class="navbar navbar-primary">
                <div class="container-fluid">
                    <div class="nav navbar-brand col-sm-2"></div>
                    <div class="navbar-header">
                        <a class="navbar-brand">Services</a>
                    </div>
                    <div>
                            <ul class="nav navbar-nav">
                                <li><a href="#!/">Glavna</a></li>
                                <li><a href="#!/mypage">Moja Stranica</a></li>
                            </ul>
        
                            <div class="nav navbar-brand navbar-right col-sm-2"></div>
        
                            <ul class="nav navbar-nav navbar-right">
                                
                                <!--IF User = Gost-->
                                <li class="dropdown" ng-if="user.uloga == 0">
                                    <a class="" data-toggle="dropdown">Login<span class="caret"></span></a>
                                    <div class="dropdown-menu" style="width: 300px">
                                        <br/>
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label for="inputUsername" class="col-sm-4 control-label">Username</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="inputUsername" ng-model="user.username" placeholder="Username">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword" class="col-sm-4 control-label">Password</label>
                                                <div class="col-sm-7">
                                                    <input type="password" class="form-control" id="inputPassword" ng-model="user.password" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-6 col-sm-5">
                                                    <button class="btn btn-primary" ng-click="loginForm()">Logovanje</button>
                                                </div>
                                                <br/>
                                                <div class="col-sm-offset-6 col-sm-5">
                                                    <a href="#!/register" class="">Registracija</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="dropdown" ng-if="user.uloga == 0">
                                        <a class="" data-toggle="dropdown">Login<span class="caret"></span></a>
                                        <div class="dropdown-menu" style="width: 300px">
                                            <br/>
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="inputUsername" class="col-sm-4 control-label">Username</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="inputUsername" ng-model="user.username" placeholder="Username">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword" class="col-sm-4 control-label">Password</label>
                                                    <div class="col-sm-7">
                                                        <input type="password" class="form-control" id="inputPassword" ng-model="user.password" placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-6 col-sm-5">
                                                        <button class="btn btn-primary" ng-click="loginForm()">Logovanje</button>
                                                    </div>
                                                    <br/>
                                                    <div class="col-sm-offset-6 col-sm-5">
                                                        <a href="#!/register" class="">Registracija</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                            </ul>
                        </div>
                </div>
                
            </nav>
        </header>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="container">
            <h3 class="list-group">Services</h3>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p>Ime servisa</p>
                        <button class="btn btn-default pull-right">aaa</button>
                    </div>
                    <div class="panel-body">
                        <p>sve1</p>
                        <p>sve2</p>
                        <p>sve3</p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel Content</div>
                    <div class="panel-body">Panel Footer</div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel Content</div>
                    <div class="panel-body">Panel Footer</div>
                </div>
            </div>
            
        </div>

    </body>
</html>